.common-style {
    background-color: #5d5fef;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.common-style-two {
    color: #5d5fef;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.category-li {
    list-style: none;
    color: gray;
    font-weight: 600;
    cursor: pointer;
}

.category-li:hover {
    color: #5d5fef;
}

.view-option-box {
    width: 170px;
}

.primary-btn {
    color: #FFFFFF;
    background-color: #5d5fef;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.socendery-btn {
    color: #5d5fef;
    border: 1px solid #5d5fef;
    padding: 7px 10px;
    border-radius: 5px;
}