.common-style {
    background-color: #5d5fef;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.common-style-two {
    color: #5d5fef;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.category-li {
    list-style: none;
    color: gray;
    font-weight: 600;
    cursor: pointer;
}

.category-li:hover {
    color: #5d5fef;
}

.view-option-box {
    width: 170px;
}

.primary-btn {
    color: #FFFFFF;
    background-color: #5d5fef;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.socendery-btn {
    color: #5d5fef;
    border: 1px solid #5d5fef;
    padding: 7px 10px;
    border-radius: 5px;
}

.category-image {
    width: 20%;
}

.author-details p {
    font-size: 9px;
}

.full-news-btn {
    border: none;
    color: #5d5fef;
    font-size: 16px;
}

@media screen and (max-width:576px) {
    .news-thumbnail {
        width: 100%;
    }

    .img-thumbnail {
        width: 100%;
        height: 45vh;
    }

    .author-img {
        width: 6vh;
    }

    .author-name {
        font-size: 8px;
        margin-bottom: 3px;
    }

    .publishing-date {
        font-size: 6px !important;
    }

    .text-size {
        font-size: 12px;
    }
}